<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/bienvenida.css">
    <title>DataDucks by Moon Development</title>

</head>
<body>
    <header>
        <h1>Welcome to DataDucks</h1>
    </header>
<div class="div-options">
    <button class="b1" type="submit" onclick="window.location.href='./create-user.html'">Create User</button>

    <button class="b2" type="submit" onclick="window.location.href='./log-in.html'">Log In</button>
</div>
</body>
<script src="./funcionalidad/bienvenida.js"></script>
</html>