<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/formgen.css">
    <title>DataDucks by Moon Development</title>
</head>
<body>
    <header class="header-create">
        <h1 class="h1-create">Login Your DataDucks</h1>
    </header>
    <div class="div-login div-gen">
        <form action="" method="post" class="form-login form-gen">
           
            <label for="" class="label-gen">Email:</label><br>
            <input type="email" name="" id="" class="input-gen input-email-login"><br>
            <br>
            <label for="" class="label-gen">Enter Your Password:</label><br>
            <input type="text" name="" id="" class="input-gen input-password-login"><br>
            <br>
            <button type="submit" class="button-gen">Login</button>
    
        </form>
    </div>
</body>
</html>